<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<th:block layout:fragment="content">
    <div class="col-12">
        <ul class="list-group" th:with="statistics=${book.statistics(userProtocols)}">
            <li th:each="entry:${book.sections()}" class="list-group-item py+2">
                <a th:with="quality=${statistics.quality(book, entry.value)}"
                   th:href="@{/books/{book}/selection(book=${book.name}, title=${entry.key}, selection=${entry.value})}">
                    <span data-toggle="tooltip" th:title="${quality + ' %'}" th:style="${statistics.style(quality)}">&#x25cf; </span><span th:text="${entry.key}"></span>
                </a>
                <a th:href="@{/books/{book}/enabled(book=${book.name}, title=${entry.key}, selection=${entry.value})}" th:text="${statistics.enableMarker(entry.value)}"></a>
            </li>
        </ul>
    </div>
</th:block>
</html>
