<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<th:block layout:fragment="content">
    <div id="start" class="modal fade" >
        <div class="modal-dialog">
            <form class="form-horizontal" th:action="${'/books/' + book.name + '/start'}" method="post">
                <fieldset>
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Übung starten</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input name="book" th:value="${book.name}" type="hidden"/>
                                <input name="title" th:value="${title}" type="hidden"/>
                                <select class="form-control" name="count" id="count">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>15</option>
                                    <option selected>20</option>
                                    <option>25</option>
                                    <option>30</option>
                                    <option value="all">alle</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="submit" class="btn btn-primary">Starten</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-12">
        <a href="#start" data-toggle="modal" data-target="#start">Üben</a>
        <ul class="list-group" th:with="statistics=${book.statistics(userProtocols)}">
            <li th:each="entry:${book.sections()}" class="list-group-item py+2">
                <a th:with="quality=${statistics.quality(book, entry.value)}"
                   th:href="@{/books/{book}/selection(book=${book.name}, title=${entry.key}, selection=${entry.value})}">
                    <span data-toggle="tooltip" th:title="${quality + ' %'}" th:style="${statistics.style(quality)}">&#x25cf; </span><span th:text="${entry.key}"></span>
                </a>
                <a class="font-weight-lighter"
                   th:href="@{/books/{book}/enabled(book=${book.name}, title=${entry.key}, selection=${entry.value})}"
                   th:text="${'(' + statistics.enableMarker(entry.value) + ')'}"></a>
            </li>
        </ul>
    </div>
</th:block>
</html>
