<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<th:block layout:fragment="content" th:with="statistics=${book.statistics(@context)}">
    <div class="col-12">
        <h4 th:text="${title + ' Freischalten'}"></h4>
        <p>Kreuze alle Vokabeln an, die in der Schule schon dran waren, die du also können solltest.
        Klicke danach auf den "Speichern" Kopf ganz unten.</p>
        <div class="col-12">
            <form class="form-horizontal" accept-charset="utf-8" th:action="@{/books/{book}/set-enabled(book=${book.name})}" method="post">
                <fieldset>
                    <input name="book" th:value="${book.name}" type="hidden"/>
                    <input name="selection" th:value="${selection}" type="hidden"/>
                    <table class="table">
                        <tbody>
                            <th:block th:each="idx:${selection}">
                                <th:block th:with="section=${book.sectionStart(idx)}">
                                    <tr th:if="${section != null}">
                                        <td th:text="${section}"></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </th:block>
                                <tr>
                                    <td th:with="enabled=${statistics.enabled.contains(idx)}">
                                        <input th:if="${enabled}" class="form-check-input" type="checkbox" th:name="${'enable_' + idx}" th:value="${idx}" checked>
                                        <input th:unless="${enabled}" class="form-check-input" type="checkbox" th:name="${'enable_' + idx}" th:value="${idx}">
                                    </td>
                                    <td th:text="${book.left(idx)}"></td>
                                    <td th:text="${book.right(idx)}"></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>

                    <a class="btn btn-primary" th:href="@{/books/{book}/(book=${book.name})}">Abbrechen</a>
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </fieldset>
            </form>
        </div>
    </div>
</th:block>
</html>
