<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<th:block layout:fragment="content">
    <div class="col-12">
        <h3>Yogi</h3>
        <p>Vokabel Trainer</p>

        <h5>Units</h5>
        <ul class="list-group">
            <li th:each="unit:${units}" class="list-group-item"><a th:href="${unit + '/question.html'}" th:text="${unit}"></a></li>
        </ul>
    </div>
</th:block>
</html>
