<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<th:block layout:fragment="content">
    <form th:action="@{/}" method="post">
        <div class="row">
            <div class="col-12">
                <div><img src="/static/yogi.png" width="256"/></div>
                <div th:if="${param.error}">
                    Unbekannter Name oder falsches Password.
                </div>
                <div th:if="${param.logout}">
                    Sie wurden ausgelogged.
                </div>
                <div><label>Willkommen. Bitte melde dich an:</label></div>
                <div><label>Name: <input type="text" name="username"/> </label></div>
                <div><label>Password: <input type="password" name="password"/> </label></div>
                <div><input type="submit" value="Anmelden"/></div>
            </div>
        </div>
    </form>
</th:block>
</html>