<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <title>Yogi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="/static/yogi.png" type="image/png">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <style>
body {
  /* Margin top/bottom by top/footer height */
  margin-top: 56px;
  margin-bottom: 56px;
}
  </style>
</head>
<body>

<div class="container-fluid">
    <th:block th:if="${exercise != null}">
        <div id="comment" class="modal fade" >
            <div class="modal-dialog">
                <form class="form-horizontal" accept-charset="utf-8" action="#comment">
                    <fieldset>
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Anmerkung</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="comment-text" class="col-lg-2 control-label">Anmerkung</label>

                                    <div class="col-lg-10">
                                        <input id="exercise" th:value="${exercise.toParam()}" hidden>
                                        <textarea class="form-control" rows="3" id="comment-text"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button class="btn btn-primary close" data-bs-dismiss="modal" onclick="e = $('#exercise').val(); comment = $('#comment-text').val(); $.post('comment', { e: e, comment: comment })" id="comment-submit">Abschicken</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div id="quit" class="modal fade" >
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="modal-title">Übung wirklich beenden?</h5>
                        <a th:href="${'/books/' + book + '/'}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Ja</a>
                        <button type="button" class="btn btn-primary btn-sm active" data-bs-dismiss="modal" aria-label="Close">
                            Nein
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand fixed-top navbar-light bg-light">
        <span class="navbar-text">Übung</span>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#comment" data-bs-toggle="modal" data-bs-target="#comment"><i class="fa fa-comments"></i> Anmerkung</a></li>
                <li class="nav-item"><a class="nav-link" href="#quit" data-bs-toggle="modal" data-bs-target="#quit"><i class="fa fa-door-open"></i> Beenden</a></li>
            </ul>
        </nav>
    </th:block>
    <th:block layout:fragment="content"/>
</div>

<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.1/js/bootstrap.min.js}"></script>
<script type="text/javascript">
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
})

// disable back button - https://stackoverflow.com/questions/12381563/how-to-stop-browser-back-button-using-javascript
history.pushState(null, document.title, location.href);
window.addEventListener('popstate', function (event) {
  history.pushState(null, document.title, location.href);
});

function updateSection(self) {
  var root = self
  while (true) {
    console.log("check " + root)
    if (root.id.startsWith("section_")) {
      id = root.id.substring(8)
      break; // found it
    }
    root = root.parentElement
  }
  var allInputs = root.getElementsByTagName('input')
  console.log("id: " + id + " length: " + allInputs + " " + allInputs.length)
  var selected = 0
  for (let input of allInputs) {
    if (input.checked === true) {
      selected++;
    }
  }
  console.log("count: " + allInputs.length)
  console.log("selected: " + selected);
  document.getElementById("counter_" + id).innerHTML = selected + "/" + allInputs.length
}

function initSections() {
  console.log("init")
  for (var i = 1; true; i++) {
    var element = document.getElementById("section_" + i);
    console.info("check " + element)
    if (element) {
      updateSection(element);
    } else {
      break;
    }
  }
}

initSections()
</script>
</body>
</html>
