<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <title>Yogi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <style>
body {
  /* Margin top/bottom by top/footer height */
  margin-top: 56px;
  margin-bottom: 56px;
}
  </style>
</head>
<body>

<div class="container-fluid">
    <th:block th:if="${login != null}">
        <nav class="navbar navbar-expand fixed-top navbar-light bg-light">
            <span class="navbar-text">Willkommen. Bitte melde dich an:</span>
        </nav>
    </th:block>
    <th:block th:if="${(exercise == null) && (login == null)}">
        <nav class="navbar navbar-expand fixed-top navbar-light bg-light">
            <ul class="navbar-nav mr-auto">'
                <div class="dropdown nav-item">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${book.name}"></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a th:each="book:${library}" class="dropdown-item" th:href="${'/books/' + book.name} + '/'" th:text="${book.name}"></a>
                    </div>
                </div>
                <li class="nav-item"><a class="nav-link" th:href="${'/books/' + book.name + '/protocols/'}">Protokolle</a></li>
                <li class="nav-item"><a class="nav-link" th:href="${'/logout'}" th:text="${T(net.mlhartme.yogi.YogiSecurity).username() + ' abmelden'}"></a></li>
            </ul>
        </nav>
    </th:block>
    <th:block th:if="${exercise != null}">
        <div id="comment" class="modal fade" >
            <div class="modal-dialog">
                <form class="form-horizontal" accept-charset="utf-8" action="#comment">
                    <fieldset>
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Anmerkung</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="comment-text" class="col-lg-2 control-label">Anmerkung</label>

                                    <div class="col-lg-10">
                                        <input id="exercise" th:value="${exercise.toParam()}" hidden>
                                        <textarea class="form-control" rows="3" id="comment-text"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button class="btn btn-primary close" data-dismiss="modal" onclick="e = $('#exercise').val(); comment = $('#comment-text').val(); $.post('comment', { e: e, comment: comment })" id="comment-submit">Abschicken</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div id="quit" class="modal fade" >
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="modal-title">Übung wirklich beenden?</h5>
                        <a th:href="${'/books/' + book + '/'}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Ja</a>
                        <button type="button" class="btn btn-primary btn-sm active" data-dismiss="modal" aria-label="Close">
                            Nein
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand fixed-top navbar-light bg-light">
        <span class="navbar-text">Übung</span>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#comment" data-toggle="modal" data-target="#comment"><i class="fa fa-comments"></i> Anmerkung</a></li>
                <li class="nav-item"><a class="nav-link" href="#quit" data-toggle="modal" data-target="#quit"><i class="fa fa-door-open"></i> Beenden</a></li>
            </ul>
        </nav>
    </th:block>
    <th:block layout:fragment="content"/>
    <div class="row">
        <div class="col-12">
            <nav class="navbar fixed-bottom navbar-light bg-light">
                <small>
                    <p data-toggle="tooltip" th:title="${yogiVersion}">Yogi -  Vokabel Trainer</p>
                </small>
            </nav>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

// disable back button - https://stackoverflow.com/questions/12381563/how-to-stop-browser-back-button-using-javascript
history.pushState(null, document.title, location.href);
window.addEventListener('popstate', function (event)
{
  history.pushState(null, document.title, location.href);
});
</script>
</body>
</html>
