<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <title>Yogi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <style>
body {
  /* Margin top/bottom by top/footer height */
  margin-top: 56px;
  margin-bottom: 56px;
}
  </style>
</head>
<body>

<div class="container-fluid">
    <th:block th:if="${exercise == null}">
        <th:block layout:fragment="navigation">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar fixed-top navbar-light bg-light">
                        <p>Auswahl</p>
                    </nav>
                </div>
            </div>
        </th:block>
    </th:block>
    <th:block th:if="${exercise != null}">
        <div id="comment" class="modal fade" >
            <div class="modal-dialog">
                <form class="form-horizontal" accept-charset="utf-8" action="#comment">
                    <fieldset>
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Anmerkung</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="comment-text" class="col-lg-2 control-label">Anmerkung</label>

                                    <div class="col-lg-10">
                                        <input id="exercise" th:value="${exercise.toParam()}" hidden>
                                        <textarea class="form-control" rows="3" id="comment-text"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button class="btn btn-primary close" data-dismiss="modal" onclick="e = $('#exercise').val(); comment = $('#comment-text').val(); $.post('comment', { e: e, comment: comment })" id="comment-submit">Abschicken</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div id="quit" class="modal fade" >
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="modal-title">Übung wirklich beenden?</h5>
                        <a href="/" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Ja</a>
                        <button type="button" class="close btn btn-primary btn-sm active" data-dismiss="modal" aria-label="Close">
                            Nein
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-sm navbar-expand-lg fixed-top navbar-light bg-light">
                <span class="navbar-text">Übung</span>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="#comment" data-toggle="modal" data-target="#comment"><i class="fa fa-comments"></i> Anmerkung</a></li>
                        <li class="nav-item"><a class="nav-link" href="#quit" data-toggle="modal" data-target="#quit"><i class="fa fa-door-open"></i> Beenden</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </th:block>
    <th:block layout:fragment="content"/>
    <div class="row">
        <div class="col-12">
            <nav class="navbar fixed-bottom navbar-light bg-light">
                <small>
                    <p>Yogi - Vokabel Trainer</p>
                </small>
            </nav>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
