<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<th:block layout:fragment="content">
    <div class="row" th:with="achievement=${protocol.achievement(userProtocols, book)}">
        <div class="col-12">
            <img th:if="${achievement.after - achievement.before > 30}" src="/static/good.png" width="128"/>
            <img th:if="${achievement.after - achievement.before <= 30}" src="/static/bad.png" width="128"/>
        </div>
        <div class="col-12">
            <h2 style="size:">
                <span data-toggle="tooltip" th:title="${achievement.before + ' % '}" th:style="${T(net.mlhartme.yogi.Statistics).style(achievement.before)}">&#x25cf; </span>
                <i class="fas fa-arrow-right"></i>
                <span data-toggle="tooltip" th:title="${achievement.after + ' % '}" th:style="${T(net.mlhartme.yogi.Statistics).style(achievement.after)}">&#x25cf; </span></h2>
        </div>
        <div class="col-12">
            <p>Titel: <span th:text="${protocol.title()}"/></p>
            <p>Datum: <span th:text="${protocol.date()}"/></p>
            <p>Vokabeln: <span th:text="${protocol.words()}"/></p>
            <p>Dauer: <span th:text="${protocol.duration()}"/></p>
            <p>Schnellste Antwort: <span th:text="${achievement.answerMin}"/></p>
            <p>Längste Antwort: <span th:text="${achievement.answerMax}"/></p>
            <p>Durchschnittliche Antwort: <span th:text="${achievement.answerAvg}"/></p>
        </div>
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Benötigte Versuche</th>
                        <th>% der Vokabeln</th>
                    </tr>
                </thead>
                <tbody th:with="h=${protocol.histogram()}">
                    <tr th:each="key:${h.keySet()}">

                        <td th:if="${key == 999}">(noch offen)</td>
                        <td th:unless="${key == 999}" th:text="${key}"></td>
                        <td th:text="${h.get(key)}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
</html>
