<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <p>Datum: <span th:text="${protocol.date()}"/></p>
            <p>Dauer: <span th:text="${protocol.duration()}"/></p>
            <p>Vokabeln: <span th:text="${protocol.words()}"/></p>
        </div>
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Benötigte Versuche</th>
                        <th>% der Worte</th>
                    </tr>
                </thead>
                <tbody th:with="h=${protocol.histogram()}">
                    <tr th:each="key:${h.keySet()}">
                        <td th:text="${key}"></td>
                        <td th:text="${h.get(key)}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
</html>
