<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<th:block layout:fragment="content">
    <div class="col-12">
        <h3 th:text="${unit}"></h3>

        <h5 th:text="${word}"></h5>
        <form accept-charset="utf-8" action="#" th:action="${unit + '/answer.html'}" method="post">
           <input name="answer"/>
            <input name="idx" th:value="${idx}" type="hidden"/>
        </form>
    </div>
</th:block>
</html>
