<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<th:block layout:fragment="content" th:with="statistics=${book.statistics(@userFiles)}">
    <div id="select-and-start" class="modal fade" >
        <div class="modal-dialog">
            <form class="form-horizontal" th:action="${'/books/' + book.name + '/select-and-start'}" method="post">
                <fieldset>
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Vokabeln für Übung auswählen</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input name="book" th:value="${book.name}" type="hidden"/>
                            <input name="title" th:value="${title}" type="hidden"/>
                            <table class="table">
                                <tbody>
                                <tr th:each="idx:${selection.createRetained(statistics.enabled)}">
                                    <td>
                                        <input class="form-check-input" type="checkbox" th:name="${'select_' + idx}" th:value="${idx}" checked>
                                    </td>
                                    <td th:text="${book.left(idx)}"></td>
                                    <td th:text="${book.right(idx)}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="submit" class="btn btn-primary">Starten</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-12">
        <h4 th:text="${title}"></h4>
        <a href="#select-and-start" data-bs-toggle="modal" data-bs-target="#select-and-start">Üben ...</a>
        <a th:href="@{/books/{book}/(book=${book.name})}">Zurück</a>
        <div class="col-12">
            <table class="table">
                <tbody th:with="active=${selection.createRetained(statistics.enabled)}">
                    <tr th:unless="${active.isEmpty()}" th:each="entry:${book.selection(active)}">
                        <td th:with="quality=${statistics.quality(entry.key)}">
                          <span data-bs-toggle="tooltip" th:title="${quality + ' % ' + statistics.tries(entry.key)}" th:style="${statistics.style(quality)}">&#x25cf; </span>
                        </td>
                        <td th:text="${entry.key}"></td>
                        <td th:text="${entry.value}"></td>
                    </tr>
                    <tr th:if="${active.isEmpty()}">
                        <td>(keine Vokabeln freigeschaltet)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
</html>
