<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<th:block layout:fragment="content" th:with="statistics=${book.statistics(@userFiles)}">
    <div id="delete" class="modal fade" >
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form class="form-horizontal" accept-charset="utf-8"
                      th:action="@{/books/{book}/{selection}/delete-selection(book=${book.name}, selection=${selectionName})}" method="post">
                    <div class="modal-body">
                        <h5 class="modal-title" th:text="${'Auswahl ' + selectionName + ' wirklich löschen?'}"></h5>
                        <hr/>
                        <button type="submit" class="btn btn-primary">Ja</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">
                            Nein
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="rename" class="modal fade" >
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form class="form-horizontal" accept-charset="utf-8"
                      th:action="@{/books/{book}/{selection}/delete-selection(book=${book.name}, selection=${selectionName})}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Name der Auswahl ändern</h5>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" accept-charset="utf-8">
                            <input id="newNameDialog" type="text" class="form-control" name="newNameDialog" th:value="${selectionName}">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
                                onclick="var n=document.getElementById('newNameDialog').value; document.getElementById('nameTitle').innerHTML=n; document.getElementById('newName').value=n">Ändern</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
                                onclick="var n=document.getElementById('newName').value; document.getElementById('newNameDialog').value=n; console.log('abbrechen' + n)">Abbrechen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <form class="form-horizontal" accept-charset="utf-8"
          th:action="@{/books/{book}/{selection}/selection(book=${book.name}, selection=${selectionName})}" method="post">
        <input id="newName" type="hidden" class="form-control" name="newName" th:value="${selectionName}"/>
        <div class="row g-0">
            <div class="col-auto">
                <h4 id="nameTitle" th:text="${selectionName}"></h4>
            </div>
            <div class="col-auto">
                <a class="btn btn-ligth btn-sm" href="#rename" data-bs-toggle="modal" data-bs-target="#rename"><i class="fa fa-pen"></i></a>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Kreuze alle Vokabeln an, die bei dieser Auswahl geübt werden sollen.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="accordion" id="selectionAccordion" th:with="currentSection=${book.currentSection(selection)}">
                    <div class="accordion-item" th:each="section:${book.sections()}">
                        <div th:id="${'section_' + section.id}">
                            <h2 class="accordion-header" th:id="${'heading_' + section.id}">
                                <button th:class="${'accordion-button' + (currentSection == section.id ? '' : ' collapsed')}" type="button" data-bs-toggle="collapse" th:data-bs-target="${'#body_' + section.id}"
                                        th:aria-expanded="${currentSection == section.id}" th:aria-controls="${'body_' + section.id}" >
                                    <th:text th:text="${section.title + ' '}"></th:text>
                                    <span>&nbsp;</span>
                                    <span th:id="${'counter_' + section.id}">(x/y)</span>
                                </button>
                            </h2>
                            <div th:id="${'body_' + section.id}" th:class="${'accordion-collapse collapse' + (currentSection == section.id ? ' show' : '')}" aria-labelledby="${'heading_' + section.id}"
                                 data-bs-parent="#selectionAccordion">
                                <div class="accordion-body container-fluid">
                                    <ul class="list-group">
                                        <li class="list-group-item" th:each="idx:${section.selection}">
                                            <div class="row">
                                                <div class="col" th:text="${book.left(idx)}"></div>
                                                <div class="col" th:text="${book.right(idx)}"></div>
                                                <div class="col-auto" th:with="quality=${statistics.quality(book.left(idx))}">
                                                    <span data-bs-toggle="tooltip"
                                                          th:data-yogi-first="${section.first}" th:data-yogi-last="${idx}"
                                                          onclick="multiClick(this)"
                                                          th:title="${quality + ' % ' + statistics.tries(book.left(idx))}" th:style="${statistics.style(quality)}">&#x25cf; </span>
                                                </div>
                                                <div class="col-auto" th:with="selected=${selection.contains(idx)}">
                                                    <input class="form-check-input" type="checkbox"
                                                           th:name="${'select_' + idx}" th:value="${idx}" onchange="updateSection(this)" th:checked="${selected}">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <a class="btn btn-primary" href="#delete" data-bs-toggle="modal" data-bs-target="#delete">Löschen ...</a>
            </div>
            <div class="col">
            </div>
            <div class="col-auto">
                <a class="btn btn-primary"
                   th:href="@{/books/{book}/{selection}(book=${book.name},selection=${selectionName})}">Abbrechen</a>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Speichern</button>
            </div>
        </div>
    </form>
</th:block>
</html>
